body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("table.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1 {
    color: goldenrod;
    font-size: 70px;
    margin-bottom: 0;
}

#message-el {
    font-style: italic;
    font-size: 30px;
}

.game-button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    height: 150px;
    width: 150px;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    margin: 20px;
    margin-bottom: 15px;
    font-size: 20px;
    transition: ease-in-out;
    transition-duration: 0.1s;
}

.game-button:hover {
    cursor: pointer;
    font-size: 23px;
}

.game-button:active {
    font-size: 20px;
}

.players {
    display: flex;
    border: 3px solid goldenrod;
    width: 80%;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0;
    border-radius: 40px;
}

.player-info {
    display: flex;
    justify-content: space-around;
    width: 300px;
}

.name-input, .bet-input {
    background-color: goldenrod;
    width: 200px;
    height: 40px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-top: 20px
}

.name-input-div {
    display: flex;
}

.name-credits, .credits, .bet{
    margin-bottom: 0;
    font-size: 30px;
}

.name-input-btn, .bet-input-btn{
    height: 40px;
    width: 80px;
    background-color: goldenrod;
    border-radius: 10px;
    border: none;
    margin-left: -30px;
    font-size: 20px;
    font-weight: 800;
    color: #016f32;
    transition: ease-in-out;
    transition-duration: 0.1s;
    margin-top: 20px;
}

.name-input-btn:hover, .bet-input-btn:hover, .undo-bet:hover {
    cursor: pointer;
    font-size: 23px;
}

.name-input-btn:active, .bet-input-btn:active, .undo-bet:active {
    font-size: 20px;
}

::placeholder {
    color: #016f32;
    opacity: 0.5;
    font-weight: 800;
    font-size: 15px;
}

.name-credits {
    display: flex;
    margin-right: 10px;
    justify-content: space-between;
}

.undo-bet {
    height: 40px;
    width: 140px;
    background-color: goldenrod;
    border-radius: 10px;
    border: none;
    margin-left: -30px;
    font-size: 20px;
    font-weight: 800;
    color: #016f32;
    transition: ease-in-out;
    transition-duration: 0.1s;
    margin-top: 20px;
}

.undo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

